.page {
  max-width: 880px;
  margin: auto;
  background-color: #000000;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
}
@media screen and (max-width: 900px) {
  .page {
    max-width: 90%;
  }
}
