
.profile__edit-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    border: none;
    padding: 0;
    background: transparent;
  }
  .profile__edit-picture:hover{
      background: url('../../../image/Edit-avatar.svg') center  26px no-repeat;
  }
  @media screen and (max-width: 650px) {
    .profile__edit-picture {
      margin-right: 0;
      margin-bottom: 22.25px;
    }
  }
  